inet:gethostname removes text after "." in hostnames

### The Problem
inet:gethostname removes text after "." in hostnames. It causes problems if you happened to name your machine's hostname to something like my.host.name.

For example:
```
user@machine1:~$ hostnamectl set-hostname my.host.name
user@machine1:~$ hostname
my.host.name
user@machine1:~$ cat /etc/hostname 
my.host.name
user@machine1:~$
```

Then in erlang (or elixir in this case) shell:
```
ex(52)> :inet.gethostname()                 
{:ok, 'my'}
iex(53)> 
```

The "offending" piece of code is https://github.com/erlang/otp/blob/master/lib/kernel/src/inet.erl#L562

We can prove this by running the preceding lines manually:
```
iex(66)> {:ok, port} = :inet_udp.open(0,[])
{:ok, #Port<0.19>}
iex(67)> {:ok, res} = :inet.gethostname(port)
{:ok, 'my.host.name'}
iex(68)>
```

### Potential Solution
The solution would be to not strip the hostname like is currently being done. Unless there is in fact a reason for it?


FWIIW, if your machine is in DNS, it's probably not a good idea to have a host name containing periods, see [RFC 1035, Section 2.3.1](https://datatracker.ietf.org/doc/html/rfc1035#section-2.3.1).

@frej Yeah, that usu' is not a good idea like having even a single dash in a 'label' (yet RFC does not prohibit having two or more subsequent dashes). I think this is about a host nick that used to be treated amongst other on BSD systems like left-most bit of the FQDN. Interestingly the bash's quirk allowing to display the host name at the prompt in user@hostname manner also strips the thing at the first dot.
And yes (@RaimoNiskanen) there is the BSD approach of having host name specified as for instance **hostname.domain.org.** and I would not disagree with the fact there's abundance of software making use of the existent API, hence probably changing it now would raise quite a few eyebrows all over the world.

P.S. of course my home server runs NetBSD ;)