ERL-542: public_key:pkix_verify_hostname() doesn't match wildcards in SubjectAltNames


Original reporter: `igor`
Affected version: `OTP-20.2`
Fixed in version: `OTP-21.0`
Component: `public_key`
Migrated from: https://bugs.erlang.org/browse/ERL-542

---

```
as a consequence, {{ssl:connect}} with {{verify_peer}} option fails to validate certificates of the sites that use wildcards in SANs.

Note that there isn't anything in [RFC 6125|https://tools.ietf.org/html/rfc6125] that prohibits wildcards in SANs. Other specs (notably, [section 3 of RFC2818|https://tools.ietf.org/html/rfc2818#section-3.1]) explicitly discuss how wildcards are to be used in dNSName SANs.

Wildcards in SANs are also de-facto in widespread use; e.g., top-level domains for {{google.com}}, {{yahoo.com}}, {{microsoft.com}} all serve certificates that have wildcarded dNSName SANs. {{outlook.office365.com}} serves a certificate that matches against a wildcarded dNSName only.

Finally, most common TLS implementations process wildcards in SANs; e.g., see attached [^ssl_test.py] for the python variant.
```
