httpc rejects valid HTTP requests

Hello friends! I’m trying to help some folks with with httpc, but we’ve got a bit stuck due to some behaviour that seems to deviate from the HTTP spec.

The other Erlang HTTP clients such as Hackney conform to the spec and do not have the same problem.

**Describe the bug**

HTTP (RFC 9110) specifies some standard methods (GET, POST, etc), but it permits other methods. WebDAV (RFC 4918) defines some extension methods (PROPFIND, PROPPATCH, etc) which these folks wish to use.
HTTPC today

When making a request with httpc:request it checks if the method and returns an error if it is not one of the methods listed in RFC 9110, even if the method is valid according to the RFC:

https://github.com/erlang/otp/blob/a4d5b23fd24670321ba758962f7df70c61422a66/lib/inets/src/http_client/httpc.erl#L469-L479

The `?WITH_BODY` and `?WITHOUT_BODY` lists contain all the standard methods, so for non-standard methods `check_request(false, false, Request)` is called.

https://github.com/erlang/otp/blob/a4d5b23fd24670321ba758962f7df70c61422a66/lib/inets/src/http_client/httpc.erl#L499-L500

If the first two argument are false an error is returned, rejecting the valid HTTP request.

# Why might it do this?

My suspicion is that this is motivated by the desire to split methods into those that permit a body, and those that do not, as the convention and the behaviour that web browsers implement.

However, RFC 9110 don’t seem to say that `?WITHOUT_BODY` requests cannot have a body. For example, for GET it says:

>    "A client SHOULD NOT generate content in a GET request unless it is made directly to an origin server that has previously indicated, in or out of band, that such a request has a purpose and will be adequately supported.“.

The older RFC 7231 also seems to permit any method to have a body, but specifies that the semantics of a body for certain methods is undefined:

>    A payload within a GET request message has no defined semantics

My reading is that in order to enforce this convention with the standard methods it has banned spec compliant non-standard methods, as they don’t fall into this convention.
Moving forward

From reading the source code I was unable to find a way to avoid this check in httpc, so it seem that it only permits a subset of valid methods, and standards such as WebDAV are blocked.

Assuming I’m right, I think it would be reasonable to remove this check, so httpc can be used for more tasks, instead of forcing use of a third-party HTTP client.

I would be in favour of removing the method-specific body behaviour entirely, letting the programmer decide if a body is included, but another option would be to permit a body for any method not in ?WITHOUT_BODY.


# To Reproduce

Send a HTTP request with a valid method that is not one of GET, HEAD, POST, PUT, DELETE, CONNECT, OPTIONS, or TRACE.

```erlang
-module(main).
-export([main/1]).

main(_) ->
    application:ensure_all_started(inets),
    Url = "https://echo.free.beeceptor.com",
    {ok, Response} = httpc:request("PROPFIND", {Url, []}, [], []),
    erlang:display(Response).
```
Here is the error
```sh
$ escript main.escript
escript: exception error: no match of right hand side value {error,invalid_method}
  in function  main_escript__escript__1768__213221__858966__1125:main/1 (main.escript:6)
  in call from escript:run/2 (escript.erl:906)
  in call from escript:start/1 (escript.erl:420)
  in call from init:start_it/1 
  in call from init:start_em/1 
  in call from init:do_boot/3 
```

# Expected behavior

The HTTP request is sent by httpc.

Here's the same request sent with curl:

```sh
$ curl -X PROPFIND https://echo.free.beeceptor.com
{
  "method": "PROPFIND",
  "protocol": "https",
  "host": "echo.free.beeceptor.com",
  "path": "/",
  "ip": "[2a01:4b00:ae15:2200:d1f9:e329:5511:b529]:61609",
  "headers": {
    "Host": "echo.free.beeceptor.com",
    "User-Agent": "curl/8.7.1",
    "Accept": "*/*",
    "Via": "2.0 Caddy",
    "Accept-Encoding": "gzip"
  },
  "parsedQueryParams": {},
  "warnings": [
    "Usage of a non-standard HTTP method: PROPFIND"
  ]
}
```

# Affected versions

Tested on OTP28, but from reading the code it seems this validation was here 17 years ago.

My theory is that due to httpc previously being tricky to use with TLS people have been using Hackney etc instead, so this behaviour was not encountered much.

---

Thanks,
Louis

Hi @essen! HTTPC doesn't comply to RFC 2616, it specifies that extension methods are permitted, same as RFC 9110 and RFC 7231.

```
Method         = "OPTIONS" 
                      | "GET" 
                      | "HEAD" 
                      | "POST"
                      | "PUT"
                      | "DELETE"
                      | "TRACE"
                      | "CONNECT"
                      | extension-method
       extension-method = token
```

https://www.rfc-editor.org/rfc/rfc2616#section-5.1.1

> Hi [@essen](https://github.com/essen)! HTTPC doesn't comply to RFC 2616, it specifies that extension methods are permitted, same as RFC 9110 and RFC 7231.

End of the section you linked says only GET and HEAD are required, everything else is optional. Neither clients and servers have to support all methods.

My point was that it's not just a matter of allowing more methods on the wire. Each method has its own semantics that go beyond whether it comes with a body or not. Behavior when you receive a 3xx isn't the same when you are using GET or POST for example. Some methods tolerate a body even if it has no semantics.

`httpc` provides features that are dependent on method semantics such as `autoredirect` so it doesn't matter if you allow any method or a subset of new methods, you're going to have to check the semantics of each method to make them work as expected with those features. Or the documentation could be updated to mention some features don't work with custom methods.

ping @lpil  what do you think about @Whaileee  suggestion