[DNS] Add the DO (DNSSEC OK) flag to dns_rr_opt

In `lib/kernel/src/inet_dns.hrl`, `dns_rr_opt` has almost of the fields mentioned in RFC 6891, section 6.1.3, but the `DO` (DNSSEC OK) flag. It could be useful to know if we received it from the DNS client.

Note that the field `z` contains the `DO` flag in its first bit and therefore is not always zero.

Sorry I missed this one entirely, and figured this out the hard way.  This should, like #6606, be solved by #6786.