No appropriate replacement for http_uri:encode/1 in uri_string

**Is your feature request related to a problem? Please describe.**
OTP 25 is set to remove the `http_uri:encode/1` function without having an appropriate replacement in the `uri_string` module. I've seen discussion around using the `compose_query` function for encoding, but that does not work for encoding parts of the path, and another [closed issue](https://github.com/erlang/otp/issues/4607) that doesn't get to the heart of the problem.

The API I work on is used to manage network appliances, and our paths include ids that can have `/` in them along with other characters that need to be encoded. For instance, if we want to get information about a specific interface on a switch (say Ethernet0/4), a user would navigate to `https://internal.api.com/switches/Ethernet0%2F4`, which would display information about how that interface is configured and a set of links with other operations the user can perform with the interface id. We generate those links using the `http_uri:encode/1` function. I have tried using the `url_string:normalize`, `url_string:resolve`, and `url_string:transcode` functions in the hopes they would encode the interface id correctly, but the Ethernet0/4 interface id is not interpreted as id, but as two separate path elements, `Ethernet0` and `4`. We also use the `http_uri:encode/1` function to build URIs so as to test our API out in our CT integration tests.

```erlang
1> InterfaceId = "Ethernet0/4".
"Ethernet0/4"
2> uri_string:normalize(InterfaceId).
"Ethernet0/4"
3> uri_string:transcode(InterfaceId, [{in_encodeing, utf8}, {out_encoding, utf8}]).
"Ethernet0/4"
4> uri_string:resolve("/switches/Ethernet0/4", "http://localhost/a/b/c?q").
"http://localhost/switches/Ethernet0/4"
5> uri_string:resolve("/switches/Ethernet0/4", "http://localhost/a/b").    
"http://localhost/switches/Ethernet0/4"
6> uri_string:resolve(#{path => InterfaceId}, "http://localhost/switches/b/c").  
"http://localhost/switches/b/Ethernet0/4"
7> uri_string:resolve(#{path => InterfaceId}, "http://localhost/switches/a/b").  
"http://localhost/switches/a/Ethernet0/4"
8> uri_string:resolve(#{path => InterfaceId}, "http://localhost/switches/a/b/c/d").
"http://localhost/switches/a/b/c/Ethernet0/4"
9> http_uri:encode(InterfaceId).   
"Ethernet0%2F4"
10> uri_string:percent_decode(http_uri:encode(InterfaceId)).
"Ethernet0/4"
11> uri_string:compose_query([{"interface_id", InterfaceId}]).
"interface_id=Ethernet0%2F4"
```

**Describe the solution you'd like**
There's already an `uri_string:percent_decode/1`, so there should be a matching `uri_string:percent_encode/(1|2)`. Ideally, it would take a list of things to encode (or use the uri_map and encode all parts) and build an encoded URI.
```erlang
1> > uri_string:percent_encode(#{
  scheme => "http",
  host => "localhost",
  path => ["foo", "bar/baz", "qux"],
  query => [{"monkey", "ban/ana"}],
  fragment => "ten/two=five"
}).
"http://localhost/foo/bar%2Fbaz/qux&monkey=ban%2Fana#ten%2Ftwo%3Dfive"
```
Or at the very least, the `percent_encode` function should behave exactly like `http_uri:encode` works now. The newly exported `uri_string` function(s) could use the non-exported encoding functions used to encode query strings. 

We're all adults and should be able to make our own responsible encoding decisions. I see no reason the stdlib should not have a function that allows for one off http encoding. Several modern and widely adopted languages have a URI encoder:
* the JDK has [`URLEncoder.encode()`](https://github.com/openjdk/jdk/blob/ce3ed65ac3411a533052a8c01231f7e540803afb/src/java.base/share/classes/java/net/URLEncoder.java#L160)
* python has [`urllib.parse.quote()`](https://www.urlencoder.io/python/)
* javascript has [`encodeURIComponent()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent)
* go has [`url.QueryEscape()`](https://pkg.go.dev/net/url#QueryEscape)

**Describe alternatives you've considered**
Alternative solutions I've considered are rolling my own percent encoding function or finding some third party library that has a similar function.

**Additional context**
None


Maybe we should make uri_string:recompose/2 that could allow customizations of which characters to  "percent encode" per component. 

@samwar My proposal was not to let percent-encoding be changed for the whole URI, as that is a problem and a reason for not having a precent_ecncode function in uri_string and warnings in the doc about how to use the percent_decode function. 

There can be customization needs for parts of the URI that are only known by the user and hence they need to be somehow provided by the user.  As it is now it's entirely up to the user.  Hence "extra" percent-encoding needs to be added before using the recompose function.  But as the recompose functions perform percent-encoding I thought maybe we can provide it with options so that it could customize the encoding, for instance, the path component only.  Or maybe it should be an option to compose_query?!  And maybe we would like a compose_path, compose_fragment too?! I am trying to get a discussion here for a reasonable API. This is sort of outside of supporting the URI string RFC but something that many people seem to want. And the legacy http_uri module is not the best place for it and also this function claims to work on the whole URI, which it does not.

Correct me if I'm wrong, but I think the only part of the URI right now that isn't automatically percent encoded is the path component. So I think we only need a function that takes a list of path segments and returns a path that only encodes the slashes found in the path segments and adds non-encoded slashes before each segment. The other characters will be encoded by the recompose function.

A companion function could be added to split a path into path segments.

They could be called compose_path and dissect_path.

I don't think there's anything else missing that isn't application-specific. Scheme and fragments are "blobs", query is already covered. Only path has some missing bits.

@lhoguin Thank you for that suggestion it sounds like a path to explore. 

@zzantozz Yes but we already have the recompose and the compose_query functions for all other components.

Also the fragment, as far as a generic URI module is concerned, is a blob with fixed rules. Applications can apply additional constraints as needed.

Okay, I agree with the recompose part because
```erlang
> uri_string:recompose(#{scheme => "foo", userinfo => "example bob", host => "example host.com", path => "/foo/bar baz", fragment => "example fragment"}).    
"foo://example%20bob@example%20host.com/foo/bar%20baz#example%20fragment"
```
which also percent-encodes the fragment, which may be incorrect, but is probably generally desired. So, all that's missing is the ability to pass the path in as components instead of as a string, where each component should be percent-encoded and then joined on `/` and prefixed with `/` to create the path. In other words, something like the OP suggests, where `path => ["foo", "bar/baz", "qux"]` yields a URI with a path of `/foo/bar%2Fbaz/qux`.

However, the docs stating that `parse/1` is the opposite of `recompose/1` are patently false. `recompose/1` percent encodes the input, but `parse/1` doesn't percent decode its input; therefore they can't be considered opposite or inverse operations, as the docs suggest. This is a separate issue from the encoding one.

Yes that's why I propose compose_path and dissect_path, that would mirror the query functions except they'd work with path segments and join/split them appropriately (and do the extra encoding/decoding needed). It cannot be done in recompose directly because the path type is `unicode:chardata()` and there is no way to differentiate between a list of path segments and an `iolist()`.

Yes, that would work. It's clunky, though, to have to fiddle around with multiple different functions when you just want to put together a URI. What if recompose took either `path` or `path_segments`, where `path` stays as it is, but `path_segments` is a list that gets treated as previously described?

It would be nice to have both the individual functions for encoding/decoding paths, as well as a `path_segements` value in the URI map as @zzantozz suggested. That way there's an easy migration path from `http_uri:encode` and also a robust function to build URIs.

Let's see:

```
uri_string:recompose(#{..., path => uri_string:compose_path(Segments)})
```

vs

```
uri_string:recompose(#{..., path_segments => Segments})
```

You don't win much.

My point is that recompose is responsible for percent encoding uri components, but now you're talking about moving that responsibility to another function for one of the components. For that matter, how would recompose know that the path has already been encoded? It would re-encode and therefore break the path. But... I guess this is already a problem with compose_query? I guess recompose doesn't percent-encode the query already, so it's already kind of broken. This is the kind of "clunkiness" I was talking about. There's a function that purports to do a thing, but it only works if you know the magic formula to make it work.

@zzantozz makes a good point about `recompose` not percent-encoding query strings. That seems like an oversite in the implementation and makes the overall uri_string API confusing to use. I would expect the `uri_map` to take a map/proplist of key/value pairs to be encoded into a query string. That quibble aside. 

If recompose is supposed to know how to intelligently build URIs given a map of components, why not build the proper encoding functionality into it?

It's not hard to do this
```
uri_string:recompose(#{..., path => uri_string:compose_path(Segments)})
```
but it is one additional function I have to know about in order to build the URI correctly. It's certainly confusing to have recompose percent-encode some things and not others.


`compose_path` would only percent-encode slashes in the path segments. `recompose` does encode query strings.

What you seem to be missing is that there are multiple layers in URIs. Paths and path segments are different layers. The query string, and `application/x-www-form-urlencoded` are different layers. `recompose` deals with plain query strings, while `compose_query` deals with `application/x-www-form-urlencoded` queries. `recompose` deals with plain paths and we have nothing for path segments.

So the way this works is that each function deals with a particular level of the URI. `recompose` encodes the things that can't be in the component, while `compose_query` does `application/x-www-form-urlencoded` encoding, and a `compose_path` would encode the slashes.

About having a generic encode function, first there's no such thing as a generic encode algorithm for URIs. The encoding of paths and of query strings and every other component is different, but on top of that if the query string is `application/x-www-form-urlencoded` then it has to use a different encoding than otherwise! Notably `+` is accepted to represent space characters. You can see the functions for encoding [here](https://github.com/erlang/otp/blob/master/lib/stdlib/src/uri_string.erl#L1416-L1472) and [here](https://github.com/erlang/otp/blob/master/lib/stdlib/src/uri_string.erl#L2066-L2083).

> `recompose` does encode query strings

Okay, now I'm a little confused...

```erlang
12> uri_string:recompose(#{path => "/", query => "foo=bar baz"}).
"/?foo=bar%20baz"
13> uri_string:recompose(#{path => "/", query => "foo=bar%20baz"}).
"/?foo=bar%20baz"
14> uri_string:recompose(#{path => "/", query => "foo=bar%baz"}).  
"/?foo=bar%baz"
```

If this function does percent encoding, then the second result is arguably wrong, and the last one is definitely wrong. Per [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-2.4):

> Because the percent ("%") character serves as the indicator for
> percent-encoded octets, it must be percent-encoded as "%25" for that
> octet to be used as data within a URI.

So, while recompose does some percent encoding, it's not doing it correctly.

> What you seem to be missing is that there are multiple layers in URIs. Paths and path segments are different layers.

I see what you're talking about here.

> About having a generic encode function, there's no such thing as a generic encode algorithm for URIs. The encoding of paths and of query strings and every other component is different...

I disagree with these statements. There is absolutely a generic encode algorithm, and it's defined in [RFC 3986 Section 2.1, "Percent-Encoding"](https://datatracker.ietf.org/doc/html/rfc3986#section-2.1). The described encoding applies to all URI components identically[^1].

> but on top of that if the query string is `application/x-www-form-urlencoded` ...

RFC 3986 doesn't mention that media type at all, nor does it mention encoding spaces as `+`. I think you're dipping into the HTML spec here, such as in [HTML4's form encoding](https://www.w3.org/TR/1999/REC-html401-19991224/interact/forms.html#h-17.13.3.4). Since this module is called `uri_string`, I wouldn't necessarily expect to find html-specific things in it, but if you want to pull that in, notice that this part of the spec is about processing form data and not generally about encoding query strings; therefore query strings should only have spaces encoded to plus some of the time, not always. This implies that further input is needed from the caller of any function dealing with query strings, like an option for whether to encode space to plus.

## Summary

The key here is in ["When to Encode or Decode"](https://datatracker.ietf.org/doc/html/rfc3986#section-2.4): percent encoding needs to happen "during the process of producing the URI from its component parts. This is when an implementation determines which of the reserved characters are to be used as subcomponent delimiters and which can be safely used as data." In other words, it's when you're assembling your authority, path, query, etc. At that time, you, the builder of the URI, know what to percent-encode and what not to.

Then, when parsing an encoded URI, "the components and subcomponents significant to the scheme-specific dereferencing process (if any) must be parsed and separated before the percent-encoded octets within those components can be safely decoded, as otherwise the data may be mistaken for component delimiters." This is the whole purpose of URI encoding: to turn reserved characters into something else so they don't mess up the parsing. The only way specified to do so is with percent encoding, and it's applied to all parts of a URI equally. Anything outside of percent encoding isn't specific to URI's, but to some implementation that's built on top of URI's.

So, a function like the following will allow a user to specify the correct components and segments and also produce a correctly encoded URI every time:

```erlang
build_uri(#{
  scheme => "https",
  userinfo => "user bob",
  host => "example host",
  path_segments => ["foo", "bar/baz"],
  query => #{
    "k1" => "value 1",
    "k2" => "value%2"
  }
})
```

Every component, subcomponent, and segment is represented as a distinct value, and each one should be percent-encoded before assembling into a URI. The result of such a function call should be

```
https://user%20bob@example%20host/foo/bar%2Fbaz?k1=value%201&k2=value%252
```

As the user, if you want "value 1" to instead become "value+1", then you're talking about a different encoding scheme that's wrapped by the URI percent-encoding. You can apply that yourself before passing the values to this function. Alternately, since it's a pretty common use case, this function could take an option like `space_as_plus`. Either way, this behavior is outside the URI spec.

At the same time, a generic `percent_encode` function can easily be written that will work on any URI component, subcomponent, or segment and allow a user to manually assemble a correct URI from all the requisite pieces.

[^1]: I have to retract what I said previously about fragments. I was misinterpreting the spec about representation-specific encodings. Regardless of any of that, the fragment will be percent-encoded at the URI level for correctness.

> At the same time, a generic percent_encode function can easily be written that will work on any URI component, subcomponent, or segment

On further reflection, I realized that some components can allow some of the reserved characters to be unencoded, such as a `/` in a query, so I'll grant you that a completely generic function wouldn't be 100% correct. Any encode function ought to know what kind of component it's working on to know what characters are acceptable.

The original design goal of the ```uri_string``` module was to implement URI producer and consumer functions based on [rfc3986](https://datatracker.ietf.org/doc/html/rfc3986). ```uri_string:compose_query``` and ```uri_string:dissect_query``` were added to satisfy another seemingly frequent use case and that was backed by another standard (*form-urlencoding*, section 4.10.22.6 of the HTML 5.0). In the pure [rfc3986](https://datatracker.ietf.org/doc/html/rfc3986) point of view, these functions already represent an application-specific encoding as they introduce rules on URI component level, on the query component. This statement is also valid for the proposed encoding of the "path fragments", it is an application-specific encoding but without any known standard that would ensure that this will be the unified/standard way to encode path fragments in generic URIs.

In my opinion the proposed feature is a utility function, an overlay on top of the standard that could be realized by allowing users to register a custom ```fun```, to be called before recompose, for each URI component. E.g.:

```erlang
uri_string:recompose(#{
    scheme => "https",
    userinfo => "user bob",
    host => "example host",
    path => ["foo", "bar/baz"],
    query => [{"k1","value 1"}, {"k2", "value%2"}}},
    [{pre_hooks, #{path => Fun,
                   query => fun uri_string:compose_query/1}}]).
```

```erlang
13> uri_string:recompose(#{path => "/", query => "foo=bar%20baz"}).
"/?foo=bar%20baz"
14> uri_string:recompose(#{path => "/", query => "foo=bar%baz"}).  
"/?foo=bar%baz"
```
Regarding the examples above, the character "%" is in the allowed set of the path component and it is not percent-encoded.

```
2.1.  Percent-Encoding

   A percent-encoding mechanism is used to represent a data octet in a
   component when that octet's corresponding character is outside the
   allowed set or is being used as a delimiter of, or within, the
   component.
```

> This statement is also valid for the proposed encoding of the "path fragments", it is an application-specific encoding but without any known standard

I don't see how encoding data in a URI path is application specific. It's specified right in RFC 3986 Section 2.1, which you quoted. Basically, any character that could be interpreted as a delimiter needs to be encoded so that implementations know it's part of the URI's data and not a delimiter.

> Regarding the examples above, the character "%" is in the allowed set of the path component and it is not percent-encoded.

Yes, a `%` can be in a path as data, but in an encoded URI, the data `%` is always represented as `%25`, much like how in many programming languages, the string `"\\"` represents `"\"` because a single `\` is an escape character for what comes next. Otherwise, how would you represent a URI like `http://example.com/10%20%30%`? That has to be encoded to `http://example.com/10%2520%2530%25` in accordance with [Section 2.4](https://datatracker.ietf.org/doc/html/rfc3986#section-2.4), quoted previously:

> Because the percent ("%") character serves as the indicator for
> percent-encoded octets, it must be percent-encoded as "%25" for that
> octet to be used as data within a URI.

I don't see how anything about this is "application specific" or an "overlay on top of the standard". Setting aside the "space as plus" encoding of queries, all I'm talking about is pure RFC 3986 percent encoding, which is basically a way of escaping special characters so they're interpreted as data instead of delimiters.

Quoting from the [Users Guide](https://www.erlang.org/doc/apps/stdlib/uri_string_usage.html#what-is-a-uri-):
```
A URI is an identifier consisting of a sequence of characters matching the syntax rule named URI in RFC 3986.

It is crucial to clarify that a character is a symbol that is displayed on a terminal or written to paper and should 
not be confused with its internal representation.

A URI more specifically, is a sequence of characters from a subset of the US ASCII character set. 
```
A percent-encoding mechanism is used **to represent a data octet** in a component **when that octet's corresponding character is outside the allowed set or is being used as a delimiter of, or within, the component.** The library makes sure that characters that are outside of the allowed set are percent-encoded in order to produce a valid URI that conforms to the ABNF rules defined by the standard.

The application-specific part is whether the character ```/``` in the input is intended to be used in its original meaning as a delimiter within the path component or the intention is to represent the data octet that belongs to the internal representation of character ```/``` and that is ```0x2F```.

The same logic applies to the character ```%```. It can appear in the path component of the URI but the library cannot decide if the user's intention is to use the character ```%``` in its original meaning as an indicator for percent-encoded octets or to represent the data octet ```0x25```.

The `uri_string:recompose` function operates a little differently from typical `urlencode` functions, that's probably why there is some confusion. It is lower level than what an application would typically use, but at the same time it enables greater control for the cases that need it. An application is likely going to want a recompose helper function that does the path segments and/or query string handling.

> In my opinion the proposed feature is a utility function, an overlay on top of the standard that could be realized by allowing users to register a custom `fun`, to be called before recompose, for each URI component.

There's no benefit in having this compared to calling the functions directly.

> This statement is also valid for the proposed encoding of the "path fragments", it is an application-specific encoding but without any known standard that would ensure that this will be the unified/standard way to encode path fragments in generic URIs.

This is not application-specific, [the spec is right in RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3):

```
   A path consists of a sequence of path segments separated by a slash
   ("/") character.  A path is always defined for a URI, though the
   defined path may be empty (zero length).  Use of the slash character
   to indicate hierarchy is only required when a URI will be used as the
   context for relative references.  For example, the URI
   <mailto:fred@example.com> has a path of "fred@example.com", whereas
   the URI <foo://info.example.com?fred> has an empty path.

   The path segments "." and "..", also known as dot-segments, are
   defined for relative reference within the path name hierarchy.  They
   are intended for use at the beginning of a relative-path reference
   (Section 4.2) to indicate relative position within the hierarchical
   tree of names.  This is similar to their role within some operating
   systems' file directory structures to indicate the current directory
   and parent directory, respectively.  However, unlike in a file
   system, these dot-segments are only interpreted within the URI path
   hierarchy and are removed as part of the resolution process (Section
   5.2).

   Aside from dot-segments in hierarchical paths, a path segment is
   considered opaque by the generic syntax.  URI producing applications
   often use the reserved characters allowed in a segment to delimit
   scheme-specific or dereference-handler-specific subcomponents.  For
   example, the semicolon (";") and equals ("=") reserved characters are
   often used to delimit parameters and parameter values applicable to
   that segment.  The comma (",") reserved character is often used for
   similar purposes.  For example, one URI producer might use a segment
   such as "name;v=1.1" to indicate a reference to version 1.1 of
   "name", whereas another might use a segment such as "name,1.1" to
   indicate the same.  Parameter types may be defined by scheme-specific
   semantics, but in most cases the syntax of a parameter is specific to
   the implementation of the URI's dereferencing algorithm.
```

This is further expanded [in the resolution algorithms](https://datatracker.ietf.org/doc/html/rfc3986#section-5) of this same RFC [that we have implemented](https://www.erlang.org/doc/man/uri_string.html#resolve-2) as well as [in the normalisation section](https://datatracker.ietf.org/doc/html/rfc3986#section-6).

> The application-specific part is whether the character / in the input is intended to be used in its original meaning as a delimiter within the path component or the intention is to represent the data octet that belongs to the internal representation of character / and that is 0x2F.

I agree with @lhoguin here. This isn't what I'd call "application-specific," in that it lies well within the spec. It's exactly the reason that percent-encoding is provided by the spec: URI's have to have a way to include delimiters or reserved characters in their data. Yes, it's totally up to the caller to distinguish between data and delimiter, but percent-encoding is the mechanism by which that's done. That's why this issue exists. Erlang is removing a critically important function without providing a proper replacement.


> In my opinion the proposed feature is a utility function, an overlay on top of the standard that could be realized by allowing users to register a custom `fun`, to be called before recompose, for each URI component. E.g.:
> 
> ```erlang
> uri_string:recompose(#{
>     scheme => "https",
>     userinfo => "user bob",
>     host => "example host",
>     path => ["foo", "bar/baz"],
>     query => [{"k1","value 1"}, {"k2", "value%2"}}},
>     [{pre_hooks, #{path => Fun,
>                    query => fun uri_string:compose_query/1}}]).
> ```
> 
> ```erlang
> 13> uri_string:recompose(#{path => "/", query => "foo=bar%20baz"}).
> "/?foo=bar%20baz"
> 14> uri_string:recompose(#{path => "/", query => "foo=bar%baz"}).  
> "/?foo=bar%baz"
> ```

@peterdmv can you explain your proposal more

1. I guess you're suggesting that Fun should provided by uri_string user. If I understand properly, user would be left out with the problem of encoding `/` as `%2F` ... am I missing something?
2. you examples are somehow not related directly to path issue which is being discussed, I'm a bit lost with them - can you maybe comment on shell lines number 13 and 14?



regarding proposals of

- `compose_path`
- `path_segments` field in URImap

What would you expect uri_string to do with every segment and why?

1. `encode(Segment,` fun is_slash/1)` (is_slash not existing in uri_string)
2. `encode(Segment,` fun is_reserved/1)`

PS. I've tried to follow the whole thread from a distance and I think some confusion was brought in the topic by referring to act of percent encoding without specifying the set of characters being the target.
I believe we should be focusing on discussing percent encoding of reserved characters within this issue.

uri_string percent encodes characters not allowed within each of the components, but I think this is unrelated to that issue. (I believe this is what @peterdmv was suggesting as well but in different words)

Sorry for making this one long. I really tried hard to make it short but failed totally :-)
_TLDR: see section at the bottom only._

@peterdmv wrote
> The original design goal of the uri_string module was to implement URI producer and consumer functions based on rfc3986

When reading RFC3986 and uri_string, I wonder if `uri_string` module is actually an URI producer on its own or is it a support library (implementing majority RFC3986) to be used for creating URI producers by wrapping it with code that knows application specifics.

Above would change RFC interpretation and leads me to formulating following thoughts. 

Act of encoding a reserved character `/` to `%2F` is a _generic action_ - if uri_string is supposed to be enabler for building URI producers, then maybe exporting such a helper function could be justified.

However:
_K1_. deciding which of reserved characters needs percent encoding in a path is _application specific_ - issue describes `/` as a _selected character_ in their application, this means `/` should be treated with care to avoid conflict between delimiting purpose defined in RFC and application specific usage for describing a network device ID (see [RFC 3986 2.2
](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2))
_K2_. deciding which occurrence of _selected character_ within a path component needs to be percent encoded is _application specific._

I guess that application specific knowledge items _K1_ and _K2_ is passed indirectly to http_uri:encode/1 function by calling
```
3> http_uri:encode("Ethernet0/4").
"Ethernet0%2F4"
```
Above sample passes only part of path and also accepts a side effect of encode function which would result with more than _selected character_ being percent encoded (our application cares about `/`).

For example here `,` gets encoded, although from application perspective this might not be needed.
```
4> http_uri:encode("Ethernet0/4,").
"Ethernet0%2F4%2C"
```

If you remove application specific knowledge from function call you can easily get not wanted results (as @samwar wrote _"We're all adults and should be able to make our own responsible encoding decisions."_) .
For example
```
1> http_uri:encode("http://localhost/switches/Ethernet0/4").
"http%3A%2F%2Flocalhost%2Fswitches%2FEthernet0%2F4"
2> http_uri:encode("/switches/Ethernet0/4").
"%2Fswitches%2FEthernet0%2F4"
```

I think that proposals of `path_segments` field in URImap and `path_compose` are functionally not much different from http_uri:encode function here.

1. _K1_ - I don't think assuming which characters from reserved set are _selected_ by application can be guessed by uri_string in a wise way - it would be best if user could specify them
2. _K2_ - providing a list with path segments is a way of specifying where _selected character_ should be encoded, but this is easy if you assume single delimiter `/`. what if you user would like to have more reserved characters used for delimiting purpose within path component (for example `,` as in shell example above) - I think potential implementation should support such case as well ...

All this writing UFFF ... ;-), lead me to ponder about most simplistic solutions described in section below

### Minimalistic options
Please share thoughts about them. Would they be good enough?

OPTION A "uri_string:encode 2 is exported"
1. it could accept any part of component being constructed by URI producer (application using uri_string) - providing _K2_
2. it allows user/application to provide its own fun is_selected_character/1 function - providing _K1_
3. some disclaimer would be needed to explain it is just a helper
4. maybe this is all we could be missing in a generic sense and we can leave the act of combining a list with a separator to URI producer build around uri_string ... I think this is easy to implement and the same as it is done today

OPTION B "leaving http_uri:encode"
1. IMHO it is not nice that you can't specify _K1_ with it
2. but better than nothing
3. maybe its deprecation could be postponed ...


I'm all for not deprecating `http_uri:encode`:
* People already using it know how to use it (and there's still this awesome new function to build entire URIs and `http_uri:encode` can be used with it)
* As I mentioned in my initial exposition of the issue, every modern language also has a function that does exactly what `http_uri:encode` does, so erlang is in good company leaving it as part of the stdlib.
* it follows the KISS principle 

are you using http_uri:encode for encoding only `/` character or for more characters?

We're using it to generically encode all path segments because we allow our users to make IDs with all sorts of characters in them. Because our API administers network devices, there's also a possibility that someone could log into a device circumventing the API and make an ID with characters in it that are reserved in http. We still need to make sure we can retrieve information about things with those IDs. So yes, we `http_uri:encode` more characters than `/`. 😃 

@u3s Replying to multiple of your points here...

> ```erlang
> 13> uri_string:recompose(#{path => "/", query => "foo=bar%20baz"}).
> "/?foo=bar%20baz"
> 14> uri_string:recompose(#{path => "/", query => "foo=bar%baz"}).  
> "/?foo=bar%baz"
> ```
> 
> @peterdmv can you explain your proposal more
> 
> [...]
> you examples are somehow not related directly to path issue which is being discussed, I'm a bit lost with them - can you maybe comment on shell lines number 13 and 14?

This snippet was taken from an [earlier post of mine](https://github.com/erlang/otp/issues/5368#issuecomment-984314892), where I was showing that the query string percent encoding is broken. You're right that it's not related to the path discussion. We should maybe open a new issue for that.

---

> regarding proposals of
> 
>     * `compose_path`
> 
>     * `path_segments` field in URImap
> 
> 
> What would you expect uri_string to do with every segment and why?

I laid out the desired behavior of `path_segments` in the [post where I suggested it](https://github.com/erlang/otp/issues/5368#issuecomment-984314892) (same post as the previous one, but toward the middle of the "Summary").

To reiterate, a URI path is composed of segments. Segments are delimited by the "/" character. The path may be delimited by a few other characters, the most common of which are probably "#" and "?" to indicate a trailing fragment or query, respectively. These characters are all part of the ["gen-delims" set of Reserved Characters](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2) and must therefore be percent-encoded if they appear as data in any path segment. Thus given a `path_segments` of `["foo/bar", "banana?boat", "potato#hash"]`, the resulting path must be `/foo%2Fbar/banana%3Fboat/potato%23hash`.

---

> I think some confusion was brought in the topic by referring to act of percent encoding without specifying the set of characters being the target.
> I believe we should be focusing on discussing percent encoding of _selected_ reserved characters within this issue.

I don't see that there's any room to select characters to encode or not. [RFC 3986 Section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2) specifies the set of reserved characters. These are characters that must be encoded when used as data in a URI. Granted the various sections talk about different characters allowed per component, but this section clearly states that reserved characters should be encoded:

> URI producing applications should percent-encode data octets that
> correspond to characters in the reserved set unless these characters
> are specifically allowed by the URI scheme to represent data in that
> component.

Remember that there are effectively two layers to a URI: the data it contains and the URI structure itself. Encoding is to preserve data that could otherwise be mistaken for part of the structure. If you have some other interpretation of this, please share.

---

> uri_string percent encodes characters not allowed within each of the components

I think that it fails to do so, but I don't want to derail the main issue here too far. This is probably a subject for a separate issue.

---

> When reading RFC3986 and uri_string, I wonder if `uri_string` module is actually an URI producer on its own or is it a support library (implementing majority RFC3986) to be used for creating URI producers by wrapping it with code that knows application specifics.

I find it strange that there's no definition given of URI producers or consumers, but I think you can infer a lot from the usage of the terms. These snippets stand out to me specifically:

> URI producing applications should percent-encode data octets

It says "applications", suggesting that it's a running instance of some app that produces the URI, such as perhaps an Apache server or some custom HTTP application written by company X.

> URI producers should use [host] names that conform to the DNS syntax

The library clearly has no control over of the name given in the host part, so it can't mean that.

> For example, one URI producer might use a [path] segment
> such as "name;v=1.1" to indicate a reference to version 1.1 of
> "name", whereas another might use a segment such as "name,1.1" to
> indicate the same.

Again, this clearly equates the URI producer with variations in application implementation. There could be two erlang applications both using the same stdlib functions that have these two different behaviors.

> URI producers should not provide a URI that contains a username or
> password that is intended to be secret.

Obviously a library function doesn't know if part of a given URI is secret.

---

> _K1_. deciding which of reserved characters needs percent encoding in a path is _application specific_ - issue describes `/` as a _selected character_ in their application, this means `/` should be treated with care to avoid conflict between delimiting purpose defined in RFC and application specific usage for describing a network device ID (see [RFC 3986 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2))

Here's the crux of this issue, I think. I disagree with your assertion that this is application specific, and here's why: a URI path is composed of path segments. If you simply take each segment and percent-encode it in accordance with [Section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2), then you're done.

Now it's also true that path segments have their own set of allowed characters set out in [Section 3.3](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3), and I believe if you limited the percent-encoding to those characters, you'd come up with an equivalent URI. The spec seems to disagree internally about whether all reserved characters must be encoded all the time or not.

In either case, though, the algorithm isn't specific to any application. It's just what's specified in the RFC.

> _K2_. deciding which occurrence of _selected character_ within a path component needs to be percent encoded is _application specific._

Again, I say the "selected characters" that you describe are the reserved characters in the spec. A character is reserved or not. If reserved, it must be encoded. If not, it shouldn't.

---

> For example here `,` gets encoded, although from application perspective this might not be needed.
> 
> ```
> 4> http_uri:encode("Ethernet0/4,").
> "Ethernet0%2F4%2C"
> ```

This isn't something that's up to the application. The application cares about the data contained in the URI. Encoding is necessary to preserve that data. In this case, per [Section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2), the comma is a "sub-delims" Reserved Character, and

> URI producing applications should percent-encode data octets that
> correspond to characters in the reserved set unless these characters
> are specifically allowed by the URI scheme to represent data in that
> component.

Since we're only talking about URI here and not specific schemes, I believe that comma must be encoded.

> ```
> 1> http_uri:encode("http://localhost/switches/Ethernet0/4").
> "http%3A%2F%2Flocalhost%2Fswitches%2FEthernet0%2F4"
> 2> http_uri:encode("/switches/Ethernet0/4").
> "%2Fswitches%2FEthernet0%2F4"
> ```
> 
> I think that proposals of `path_segments` field in URImap and `path_compose` are functionally not much different from http_uri:encode function here.

---

No, no, they're extremely different. Suppose we want to build the encoded URI `https://example.com/foo%2Fbar/banana%3Fboat/potato%23hash`. With `http_uri`, it looks something like
```erlang
lists:flatten("https://example.com/", http_uri:encode("foo/bar"), "/", http_uri:encode("banana?boat"), "/", http_uri:encode("potato#hash"))
```
That's annoying, but effective. A nicer--and arguably more declarative, functional--way would maybe look like
```erlang
build_uri(#{scheme => http, host => "example.com", path_segments => ["foo/bar", "banana?boat", "potato#hash"]})
```
The encoding and joining with delimiters can be done internally. Both would produce the same encoded URI.

---

> 1. _K1_ - I don't think assuming which characters from reserved set are _selected_ by application can be guessed by uri_string in a wise way - it would be best if user could specify them

As I mentioned previously, RFC 3986 Section 2.2 requires all reserved characters to be encoded unless something in the scheme says otherwise. I don't think there's any assumption or guessing necessary here. Feel free to correct me.

> 2\. _K2_ - providing a list with path segments is a way of specifying where _selected character_ should be encoded, but this is easy if you assume single delimiter `/`. what if you user would like to have more reserved characters used for delimiting purpose within path component (for example `,` as in shell example above) - I think potential implementation should support such case as well ...

Per the spec, only `/` is a path delimiter. We can't add path delimiters to the spec. The `,` is only a reserved character, not a delimiter. If you mean giving the option to encode some arbitrary set of characters, then why? If a user wants to give some special significance to the character `Q`, that's perfectly fine, but it doesn't need to be encoded. It's part of the URI data, not part of its syntax.

You may be mistaking the purpose of percent encoding. It's not for URI-data-level stuff. It's so that URI data can be correctly transferred from one point to another without ambiguity. In order to do so, the reserved characters have to be encoded, or they could be mistaken for syntactic elements. In this example of the special `Q` character, that's part of the URI data that's interpreted by the local application. It's not part of the URI syntax itself. Encoding is for distinguishing between data and syntactic structure. The syntactic structure, along with the reserved characters, is fully specified in RFC 3986.

---

> OPTION A "uri_string:encode 2 is exported"

I think this proposes putting unnecessary work on callers who simply want the percent-encoding specified in 3986 Section 2.2.

> OPTION B "leaving http_uri:encode"

This function seems to do proper URI encoding, which is why this issue was raised in the first place. If it's removed, then applications can no longer build encoded URIs with Erlang. It still is pretty basic in that you have to pass each piece of the URI separately, which is why some alternatives have been proposed, like a function accepting a map with all the various components specified.

Note that this also implies it's specifically for http-schemed URIs, as opposed to `uri_string`, which implies schemeless URIs that comply strictly with RFC 3986. That can cause some minor differences, like the percent vs plus encoding in the query as noted previously.

---

I feel like this issue is getting clouded by tangents. Maybe we can refocus:

1. A URI can be seen as having two parts: a syntactic structure and the data contained within the structure.
1. In order to prevent confusing the data with the structure, RFC 3986 specifies that the following characters are reserved: `":" "/" "?" "#" "[" "]" "@" "!" "$" "&" "'" "(" ")" "*" "+" "," ";" "="`
1. It also requires that, "URI producing applications should percent-encode data octets that correspond to characters in the reserved set unless these characters are specifically allowed by the URI scheme to represent data in that component."
    - "data octets that correspond to characters in the reserved set" means any character that's only data in the URI and not part of its syntactic structure
    - We're not talking about different schemes here, which would make this way more complicated, so all we have to worry about is this one set of characters.
    - If you take a strict view of this requirement, then none of those characters may appear in an encoded URI *unless* they are syntactically significant.
1. Presently, `http_uri:encode()` performs (roughly) this encoding on any string passed to it, and that can be used to build encoded URIs by manually assembling them with the appropriate syntactic delimiters.
1. There's no other apparent way in the Erlang stdlib to build encoded URIs that fully complies with RFC 3986.

In my opinion, this isn't a complicated set of constraints. There should be multiple acceptable ways to implement it.


I can't react to all the previous comments so I'm trying here to reflect on some major points and some ideas about a possible way forward.

**Short summary:**

- I think my first idea of introducing a ```pre_hooks``` option with ```Fun```s will not work correctly for all the cases (see **Details** section):

```erlang
uri_string:recompose(#{
    scheme => "https",
    userinfo => "user bob",
    host => "example host",
    path => ["foo", "bar/baz"],
    query => [{"k1","value 1"}, {"k2", "value%2"}}},
    [{pre_hooks, #{path => Fun,
                   query => fun uri_string:compose_query/1}}]).
```

- The proposed new behavior lacks some aspects like defining a guiding principle about what characters should be percent-encoded within a segment. I think there is a way forward if we introduce ```path_segments``` **with a well-defined semantics** (mapping one input segment to one output segment in the encoded URI, following ABNF rules, see **Details** section) that is mutually exclusive with the ```path``` component. Today ```path``` is an opaque component, with the introduction of ```path_segments``` a segment would turn into an opaque unit with similar behavior as today's ```path```. There would two ways to define a path component at two *granularity* levels. Expected new behavior:
```erlang
1> uri_string:recompose(#{path => "fo:o/b:ar"}).
"fo%3Ao/b:ar"
2> uri_string:recompose(#{path_segments => ["fo:o/b:ar", "ban:ana?boat"]}).
"fo%3Ao%2Fb%3Aar/ban:ana%3Fboat"
3> uri_string:recompose(#{path_segments => ["foo/bar", "banana?boat", "potato#hash"]}).
"foo%2Fbar/banana%3Fboat/potato%23hash"
```

- I believe that I found a bug when I was doing this exercise (see **Details** section):
```erlang
22> uri_string:recompose(#{path => "fo:o/b:ar"}).
"fo:o/b:ar"  // should have been: "fo%3Ao/b:ar"
23> uri_string:parse(v(22)).                     
#{path => "o/b:ar",scheme => "fo"}  // output is a different URI!
24> 
```

**Details**
> To reiterate, a URI path is composed of segments. Segments are delimited by the "/" character. The path may be delimited by a few other characters, the most common of which are probably "#" and "?" to indicate a trailing fragment or query, respectively. These characters are all part of the "gen-delims" set of Reserved Characters and must therefore be percent-encoded if they appear as data in any path segment. Thus given a ```path segments``` of ```["foo/bar", "banana?boat", "potato#hash"]```, the resulting path must be ```/foo%2Fbar/banana%3Fboat/potato%23hash```.

In the current implementation, the path is an opaque component as such there is no concept for the _segment_. Therefore the library cannot decide if the character ```/``` in the input is intended to be used in its original meaning as a delimiter within the path component or the intention is to represent the data octet that belongs to the internal representation of character ```/``` and that is ```0x2F.``` With the current API it is the application that has the knowledge, so it is application-specific.

Let's take the main idea of the proposal that is introducing the concept of ```path_segments``` as an alternative to the ```path```.

**Assumption 1**: By doing this I believe that we have to assume that a single element of ```path_segments``` of an input ```uri_map``` should be mapped to a single path segment in the encoded URI (```uri_string```). That is, characters that cannot occur within a segment must be percent-encoded. Looking at the ABNF rules we can see that there are 5 types of paths and 3 types of segments:
```
path          = path-abempty    ; begins with "/" or is empty
                    / path-absolute   ; begins with "/" but not "//"
                    / path-noscheme   ; begins with a non-colon segment
                    / path-rootless   ; begins with a segment
                    / path-empty      ; zero characters

      path-abempty  = *( "/" segment )
      path-absolute = "/" [ segment-nz *( "/" segment ) ]
      path-noscheme = segment-nz-nc *( "/" segment )
      path-rootless = segment-nz *( "/" segment )
      path-empty    = 0<pchar>
      segment       = *pchar
      segment-nz    = 1*pchar
      segment-nz-nc = 1*( unreserved / pct-encoded / sub-delims / "@" )
                    ; non-zero-length segment without any colon ":"

      pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
```
A well-behaving recompose function must be able to handle all the special cases e.g.:
**Rule 1**: First segment cannot be empty if the path type is ```path-absolute```, ```path-noscheme``` or ```path-rootless```.
**Rule 2**: First segment cannot have a semicolon if the path type is ```path-noscheme``` (= we have a relative reference, there is no scheme, the input does not start with "//" or "/"). ABNF rules of a relative-ref:
```
relative-ref  = relative-part [ "?" query ] [ "#" fragment ]

      relative-part = "//" authority path-abempty
                    / path-absolute
                    / path-noscheme
                    / path-empty
```
Compare this with the ABNF of a URI (scheme is mandatory and path-noscheme is not allowed).
```
URI         = scheme ":" hier-part [ "?" query ] [ "#" fragment ]

      hier-part   = "//" authority path-abempty
                  / path-absolute
                  / path-rootless
                  / path-empty
```
Due to **Rule 2**, my original idea of introducing a Fun will not handle all the cases as a proper function will have to consider if there is a ```scheme``` component in the input. While reaching this point I happened to discover that this special case is not handled properly in the current implementation:
```erlang
22> uri_string:recompose(#{path => "fo:o/b:ar"}).
"fo:o/b:ar"
23> uri_string:parse(v(22)).                     
#{path => "o/b:ar",scheme => "fo"}
24> 
```
The output in ```line 22``` is a valid ```uri_string()``` but it is a different URI! There is no scheme component in the input and the intended path type is ```path-noscheme```, that is, the ":" must be percent encoded. This logic would follow the current design when recomposing ```uri_map()``` data types.

I don't have the time to think through all the possibilities but I believe if **Assumption 1**, **Rule 1** and **Rule 2** are satisfied and the possible bug with handling ```path-noscheme``` is fixed then it is possible to introduce ```path_segments``` in a way that follows current design principles and result in the expected behavior. For this corner case it would be:
```erlang
1> uri_string:recompose(#{path => "fo:o/b:ar"}).
"fo%3Ao/b:ar" // not "fo:o/b:ar"
2> uri_string:recompose(#{path_segments => ["fo:o/b:ar", "ban:ana?boat"]}).
"fo%3Ao%2Fb%3Aar/ban:ana%3Fboat"
```
The output using the original example:
```erlang
3> uri_string:recompose(#{path_segments => ["foo/bar", "banana?boat", "potato#hash"]}).
"foo%2Fbar/banana%3Fboat/potato%23hash"
```

Reminder that this is only one part of the problem, we need both `compose_path` and `dissect_path`. I will go over the details when I get more time.

@peterdmv I believe you're coming to see what I've been saying. I think I agree with all of your reasoning and points there. I can even agree to your use of "application specific" if you mean that the application is the one that determines what the data of the URI is. It can't be otherwise. Any URI building library has to be told the data of the URI in order to build one.

> In the current implementation, the path is an opaque component as such there is no concept for the _segment_.

This is effectively the crux of the issue. Without a concept of path segments or at least a way of manually encoding segments, `uri_string` is crippled for building encoded URIs.

As for the `path-noscheme` bit, that's one of the bugs I was referring to in the existing code, and while `path-noscheme` isn't part of a `URI`, it does show up under `URI-reference` as a valid relative reference:

```
   URI-reference = URI / relative-ref

   relative-ref  = relative-part [ "?" query ] [ "#" fragment ]

   relative-part = "//" authority path-abempty
                 / path-absolute
                 / path-noscheme
                 / path-empty
```


> Reminder that this is only one part of the problem, we need both `compose_path` and `dissect_path`. I will go over the details when I get more time.

Good point @essen. The parsing side also needs to know how to deal with path segments so that you can properly deconstruct an encoded URI. As a simple example, I'd expect parsing behavior like

```erlang
parse("http://example.com/foo%2Fbar").
#{scheme => "http", host => "example.com", path => "/foo%2Fbar", path_segments => ["foo/bar"]}
```

Thus, you can get either the complete path or the decoded segments depending on your need.

I don't think it should be done in `parse` (and in `recompose`) because this gives a penalty to all even if they don't use it afterwards. In Cowboy 3 I might replace the router with https://github.com/ninenines/farwest/blob/master/src/farwest_router.erl which does not use path segments like the current router. It does call `normalize` which does `parse`/`recompose` as necessary.

It's best to leave the extra parsing for later in general, which is already possible for query strings and should be possible for path segments as well.

> Reminder that this is only one part of the problem, we need both `compose_path` and `dissect_path`. I will go over the details when I get more time.

I agree, implementing this in ```parse``` would hit performance and it can be complicated. Changing ```recompose``` is simpler but would hit performance, too. Adding ```compose_path``` and ```dissect_path``` seems to have an edge over the other options.

I guess that's true about the performance concern. I just find it unfortunate to have to sacrifice convenience. Maybe there could be a 2-arity parse that also takes options `dissect_path` and `dissect_query`, which would run the appropriate functions and include the data in the result. In any case, being able to handle URI encoding properly is a step in the right direction.

> 4.  there is sub-delims case which still bothers me, can you explain if it is valid and how it could be handled?
yeti://localhost/some/folder/file.txt,version=1%2C1

I don't see an issue with this sample URI, with the current proposal ```path_segments``` would look like roughly this:
```erlang
1> uri_string:parse("yeti://localhost/some/folder/file.txt,version=1%2C1").
#{host => "localhost",
  path => "/some/folder/file.txt,version=1%2C1",
  scheme => "yeti"}
2> uri_string:dissect_path(Scheme,"/some/folder/file.txt,version=1%2C1").
["some", "folder", "file.txt,version=1%2C1"]
```
The granularity level would be the ```segment```, any sub-delimiters within a ```segment``` would be opaque. The application will have to make the distinction whether to use ```,``` or ```%2C```. About the encoding, there will be still a need for a function that can convert any character into a percent-encoded triplet and vice versa to satisfy all possible use cases.

Maybe I got lost somewhere in the thread, but at some point I started considering `compose/dissect_path` API as a solution to problem reported in this ticket - "No replacement for http_uri:encode/1 in uri_string".

My current thinking is that:
1. if we want to deprecate http_uri:encode/decode we need a replacement - that, as @peterdmv wrote, converts "any character into a percent-encoded triplet" (after comparing behavior of encoders listed by @samwar in ticket description, I would suggest using Python urllib.parse.quote as a reference - maybe those could be `uri_string:quote/unquote` in Erlang?)

2. `compose/dissect_path` API would be more of an improvement to uri_string, but not an exact replacement for http_uri:encode/decode

[Python doc](https://docs.python.org/3/library/urllib.parse.html) makes a nice split into "parsing" and "quoting" functions, maybe we should get some inspiration in our docs to get some clarification.

Maybe I got lost somewhere in the thread, but at some point I started considering `compose/dissect_path` API as a solution to problem reported in this ticket - "No replacement for http_uri:encode/1 in uri_string".

My current thinking is that:

1. if we want to deprecate http_uri:encode/decode we need a replacement - that, as @peterdmv wrote, converts "any character into a percent-encoded triplet" (after comparing behavior of encoders(see attachment) listed by @samwar in ticket description, I would suggest using Python urllib.parse.quote as a reference - maybe those could be `uri_string:quote/unquote` in Erlang?)

2. `compose/dissect_path` API would be more of an improvement to uri_string, but not an exact replacement for http_uri:encode/decode

[Python doc](https://docs.python.org/3/library/urllib.parse.html) makes a nice split into "parsing" and "quoting" functions, maybe we should get some inspiration in our docs to get some clarification.

![GH-5368_encoders](https://user-images.githubusercontent.com/4620572/152139280-819da103-029e-4341-9ce6-725bbd1c5275.png)

My bad, I thought `uri_string:parse` would decode that `%2C`, but it makes sense that it doesn't. So it is true that a encoding/decoding function is still needed. On the other hand I suspect that this encoding/decoding function cannot be applied to whole paths (since it might encode the `/`) so I suppose both the parsing/composing of the path segments and encoding/decoding are necessary ultimately.

> On the other hand I suspect that this encoding/decoding function cannot be applied to whole paths (since it might encode the `/`) 

Yes, I agree of course (however Python has a nice way of adjusting the behavior with safe parameter, see below for more explanation).

> so I suppose both the parsing/composing of the path segments and encoding/decoding are necessary ultimately.

My current thinking is that `compose/dissect_path` API is nice to have feature rather than _necessary_, but please comment if I am missing sth.

In my view, there are 2 options for user to live without `compose/disect_path` API:
1. (kind of case today with http_uri:encode) In case when encode/decode functions are not customizable, user needs to be careful on what it gives to them as argument and then combine results somehow into a path component. this is the only way I know to encode `yeti://localhost/some/folder/file.txt,version=1%2C1` and has to be done by user of uri_string
2. (getting more inspiration from [Python](https://docs.python.org/3/library/urllib.parse.html#url-quoting)) - encode/decode function could take a list of safe characters (`/` is a safe character by default, but safe list can be customized by caller). this might be useful (for situations when sub-delims are not used by scheme or implementation) at a price of reducing the flexibility.



@u3s Regarding a URI like `yeti://localhost/some/folder/file.txt,version=1%2C1`, it looks like you're proposing a new URI scheme that has a level below "path segment" that we might call a "path sub-segment", and it has its own set of reserved characters for delimiting path sub-segments. A generic URI library like `uri_string` can't really provide full support for every possible scheme out of the box because the definition of URIs is open to allow schemes to customize it. This is why I've been trying to stick strictly to generic URIs defined by 3986.

That said, your suggestion of adopting python's quote function with configurable safe characters sounds good. It would provide a low-level tool so that any URI scheme can be handled manually by encoding the pieces and then assembling by hand. For full-featured support, I'd say a separate module should be developed, like `yeti_uri_string`, which knows the details of that scheme. I'd think that would go for pretty much any URI scheme.

@u3s 

> My current thinking is that `compose/dissect_path` API is nice to have feature rather than _necessary_, but please comment if I am missing sth.

"Nice to have" is relative. You could say those are nice to have. You could also say that `uri_string:recompose()` is nice to have, since users can easily encode and concatenate the pieces of a URI. You could also say that percent encoding is nice to have, since users can implement that themselves, too.

Taking the approach that "users can do that themselves" isn't generally a good way to attract users to your library/framework/language, so I'm hesitant to discard something as only "nice to have".




Someone said that `uri_string` is an attempt to implement RFC 3986, but I feel like a lot of http-specific stuff is lurking just under the surface here. Is `uri_string` really `http_uri_string` or `http_uri` in hiding? If you really want a clean implementation of 3986, then concerns that are specific to the http scheme needs to be explicitly separated out of `uri_string`. If that were to happen, then where should the code live that supports that scheme? Or, do we just embrace that when people say "URI", they're talking about http URIs 95% of the time?

When all is said and done, I think that having a python-like quote/unquote/parse/unparse is the bare minimum generic toolset for working with any kind of URI. Then you can build scheme-specific modules on top of those to make nice, higher-level functions for building and parsing file URIs, http URIs, https URIs, yeti URIs, and more.

> That said, your suggestion of adopting python's quote function with configurable safe characters sounds good. It would provide a low-level tool so that any URI scheme can be handled manually by encoding the pieces and then assembling by hand.

It's simplicity and flexibility, makes me think that we should start with adding `uri_string:quote/unquote` to API first (which maybe could be considered a solution to this ticket). Once we have we have a proposal, we could come back to discussion on further extensions to uri_string.


> > My current thinking is that `compose/dissect_path` API is nice to have feature rather than _necessary_, but please comment if I am missing sth.
> 
> "Nice to have" is relative. You could say those are nice to have. You could also say that `uri_string:recompose()` is nice to have, since users can easily encode and concatenate the pieces of a URI. You could also say that percent encoding is nice to have, since users can implement that themselves, too.

When writing "nice to have", it was not my intention to neglect the proposal of `compose/dissect_path` API. I just wanted to put it in order with bare minimum needs which should be provided in first place.


> Someone said that `uri_string` is an attempt to implement RFC 3986, but I feel like a lot of http-specific stuff is lurking just under the surface here. Is `uri_string` really `http_uri_string` or `http_uri` in hiding? If you really want a clean implementation of 3986, then concerns that are specific to the http scheme need to be explicitly separated out of `uri_string`. If that were to happen, then where should the code live that supports that scheme? Or, do we just embrace that when people say "URI", they're talking about http URIs 95% of the time?

The area is tricky indeed :-). I think we need to try to balance. Maybe prefer solutions that are less evil in all aspects like:
1. usefulness
2. simplicity of use
3. compliance with RFC




small status update

1. removal of deprecated `http_uri:encode/decode` will be postponed until OTP-26
2. work on prototype of `uri_string:quote/unquote` is ongoing, I will push a PR when its ready - this will be a recommended replacement for `http_uri:encode/decode`

I've closed the ticket accidentally when one of related PRs was merged. But still in the end, I would like to propose closing of this one :-) (see below).

I did some URI API comparison between languages mentioned by @samwar - Erlang,
Python, Go, NodeJS/Javascript, Java.

### Observations
1. All languages have their quote/unquote equivalents(as originally stated in
   ticket description) - functions for sanitazing data so it can be inserted into
   URI component safely.

   Erlang still has deprecated http_uri functions, but PR-5700 proposes a
   replacement for them under uri_string module.
2. Java and Go contain duplicated fields (e.g. Path, RawPath) within their
   structures for holding URI components. This is their approach for not loosing
   data - it is needed because upon parsing decoding is done automatically in their implementations.

   I think we don't need that, because uri_string:parse does not decode
   automatically, and if user would like to achieve that -
   uri_string:percent_decode function can be used for transforming URIMap.
3. AFAIK, none of languages has a utility for supporting the user in the act of
   composing a path from segments (an improvement which appeared in discussion).

### Opinions/conclusions of mine
1. I don't like duplicated fields within structures for holding URI components
   (Java, Go).
2. PR-5700 closes the API gap to other languages from comparison and I think
   allows user to compose whatever path is needed and compliant with RFC3986
3. I would like to propose closing this ticket.
4. However, if PR-5700 proposal of quote/unquote is
-  not enough for some compelling use case
-  and also the new API proposal could be made more precise so that it describes
   the wanted handling of reserved/sub-delim characters and '%'.
-  we could have a new ticket for that purpose and discuss that further

What I think I would like to avoid at this stage is:
1. extending URIMap structure
2. introducing uri_string:percent_encode taking URIMap, URIString as input

@samwar - please let me know if you're OK with suggestion

The solution provided looks good. I think this issue can be closed when that PR is merged and some of the other discussion around extensions to `uri_string` have been turned into issues. 



>     3. AFAIK, none of languages has a utility for supporting the user in the act of
>        composing a path from segments (an improvement which appeared in discussion).

That would be, e.g., https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/core/UriBuilder.html, which uses [URI templates](https://datatracker.ietf.org/doc/html/rfc6570): another thing that, if supported, would make life easier in Erlang.

I limited initial reading to Java SE, thanks for reminding about EE ;-)

I guess you're referring to matrixParam functions (remainder of UriBuilder supporting generic syntax is already included in uri_string I think).

I'm not sure how it is supposed to support reserved/sub-delims in general perspective. [Examples ](https://stackoverflow.com/questions/2048121/url-matrix-parameters-vs-query-parameters) which I saw seem to assume some building recipe around particular sub-delim characters `=` and `;`. This looks very specialized, but maybe I'm missing something.

Doubts I'm having in relation to compose/dissect_path API proposal is that either we:
1. have an API which boils down `lists:join("/", ...) wrapper supporting only `/` - probably too simple to be very helpful
2. OR if we think about generic support for reserved/sub-delims builder functionality we end up with a function with a very complex API

Please share an API proposal if you have an idea for balancing nicely between ease of use and usefulness. I could be missing some nice idea obviously.

I have implemented URI templates in https://github.com/ninenines/cowlib/blob/master/src/cow_uri_template.erl

- good to learn about `cow_uri_template` module as RFC6570 seems to be the solution
- for now RFC6570 is not planned to be supported