httpc violates RFC 2616 for default requests

**Describe the bug**

`httpc` violates RFC 2616 for default requests.

[If the caller does not supply `te` header, then `te` is set to `""`](https://github.com/erlang/otp/blob/master/lib/inets/src/http_client/httpc.erl#L1954-L1957). As per [RFC 2616 Section 14.39](https://github.com/erlang/otp/blob/master/lib/inets/doc/archive/rfc2616.txt#L7928-L7929), the Connection header must also be set to `TE`.

Currently, this is the stock request that is sent:

```
GET https://google.com/
    content-length: 0
    te:
    host: google.com
    connection: keep-alive
```

**To Reproduce**

```erlang
httpc:request("http://google.com")
```

**Expected behavior**

It should send either no header at all:

```
GET https://google.com/
    content-length: 0
    host: google.com
    connection: keep-alive
```

or add `TE` to `connection`:

```
GET https://google.com/
    content-length: 0
    host: google.com
    te:
    connection: TE, keep-alive
```

I cannot see a reason to default `te` to blank on every request. [The spec defines its value as `chunked`, even in its absence.](https://github.com/erlang/otp/blob/master/lib/inets/doc/archive/rfc2616.txt#L7964-L7966) Perhaps someone can enlighten me as to why this decision was taken? There is no way to opt-out of this behaviour, except for setting `headers_as_is`.

Especially for GET requests, the standard allows us to omit both the content-length and te headers, since the body is meaningless. Is there a legacy reason why they are included on every request by default?

**Affected versions**

At least `v28.0.2`. I have not looked back in history to see if this behaviour has changed.

**Additional context**

I came across this issue because a proxy server I was using was dropping all GET requests made by httpc. When setting the `te` header to anything other than `""`, or removing it entirely, the requests worked, which led me to investigate if `httpc` was complying with the HTTP/1.1 spec and report my findings above.


Out of curiosity which proxy?

> or set add TE to connection:

In that case the `te` header should be set with a value in your example.

👋  @essen 

I just updated a couple of important typos on my original post, correcting the grammar in what you quoted, and the HTTP request in the second option. Apologies!

> In that case the te header should be set with a value in your example.

Are you suggesting httpc be changed to default to adding `TE` to `Connection`? Rather than not sending `te:` at all?

---

> Out of curiosity which proxy?

The proxy is in [OpenAI Codex Cloud](https://platform.openai.com/docs/codex/overview#internet_access_and_network_proxy). They appear to be using Envoy, but I am not able to see what's on the other side of it. People are complaining about the downstream effects of this [when using httpc via hex when running `hex deps.get`](https://elixirforum.com/t/openai-codex-cloud-elixir-support/70961/6).

I noticed that cURL requests were working, whereas basic `httpc` GET requests were not. Setting any value other than `""` for `te` works. I realise this is a niche use case, so I am not suggesting any fixes on account of that. But investigating that issue led me down the path of checking what the standard says should be correct client behaviour for `te`.

is enough unit tests for httpc? IMO must have coverage @IngelaAndin 

I am happy to contribute to this if that would be helpful.

The logic I would start with is:
- If the user doesn't specify `te`, then do not default to `te:`. Instead, do not set `te` at all.
- If the user does specify `te` of any kind, then ensure `TE` is added to `connection`.
  - Also, handle the case where the user has set `connection` themselves.

I can't see any unit tests for [validate_headers](https://github.com/erlang/otp/blob/master/lib/inets/src/http_client/httpc.erl#L1954-L1957). Would this logic ideally be covered there, or covered in integration tests?

I can see integration tests that set `TE` with `headers_as_is`. Should `TE` be removed from these cases?
- https://github.com/erlang/otp/blame/master/lib/inets/test/httpc_SUITE.erl#L977-L982
- https://github.com/erlang/otp/blame/master/lib/inets/test/httpd_SUITE.erl#L1468-L1472

But I don't see anywhere this logic would be simply slotted into integration tests, for example, the [basic GET request](https://github.com/erlang/otp/blame/master/lib/inets/test/httpc_SUITE.erl#L396) just checks for 200 and doesn't check the actual headers sent.


Thanks for the input everyone.  I am working on this now.

Please see: https://github.com/erlang/otp/pull/10120