Case Sensitive X509 PKI Name Constraint Checking

**Describe the bug**
During the TLS handshake with `verify` set to `verify_peer`, when the peer certificate is evaluated against the directory name constraints of the intermediate CA that issued it, they appear to be compared in a mostly case sensitive manner in the `is_dir_name2` functions in pubkey_cert.erl https://github.com/erlang/otp/blob/87d24fee5b75653899e83c0c3333b4f83c22afd7/lib/public_key/src/pubkey_cert.erl#L721 

I believe this should be a case insensitive check for all attribute types, not just PrintableString as [RFC 5280 Section 7.1](https://datatracker.ietf.org/doc/html/rfc5280#section-7.1) specifies: 
> Conforming implementations MUST support name comparisons using caseIgnoreMatch.

The error that comes back is `{bad_cert, name_not_permitted}`

The peer certificates we are having issues with passes validation using other tools such as `openssl verify` and a NodeJS test program. If I edit the peer certificate in the Erlang debugger to have all lowercase relative distinguished names the connection succeeds.

**To Reproduce**
Issue a client auth certificate that has a subject:
CN = test.program
OU = APPLICATIONS
O = PROJECT
C = GB

From an intermediate CA that includes a directory name constraint:
OU = applications
O = project
C = gb

Attempt a connection to a TLS endpoint with `verify` set to `verify_peer`.

**Expected behavior**
The check succeeds.

**Affected versions**
23.3.2.5


Well there are some "optional parts" of the RFC that it might be motivated that we implement. It would help if you provided the encodings of your example certificates instead of just stating that one is upper case and the other is lower, You can use
public_key functions to  handle PEM-files to get the information that would help! 

Thanks for the quick response! I will provide as much detail as I can but please forgive my lack of Erlang knowledge as I am a complete novice, I've run into this because we are having RabbitMQ connection issues.

---
Setup

I have generated a test CA, intermediate CA, server cert, and two peer certs so I can share them here. Peercert1 exhibits the issue, peercert2 works. They have txt file extensions so I can upload them to github but are PEMs.

[server1.cert.txt](https://github.com/erlang/otp/files/12312263/server1.cert.txt)
[server1.key.txt](https://github.com/erlang/otp/files/12312259/server1.key.txt)
DN = "C=GB/O=MYORG/OU=MYOU/CN=server1.com"

[peer1.cert.txt](https://github.com/erlang/otp/files/12312261/peer1.cert.txt)
[peer1.key.txt](https://github.com/erlang/otp/files/12312257/peer1.key.txt)
DN = "C=GB/O=MYORG/OU=MYOU/CN=peer1.com"

[peer2.cert.txt](https://github.com/erlang/otp/files/12312262/peer2.cert.txt)
[peer2.key.txt](https://github.com/erlang/otp/files/12312258/peer2.key.txt)
DN = "C=gb/O=myorg/OU=myou/CN=peer2.com"

[ca-chain.cert.txt](https://github.com/erlang/otp/files/12312260/ca-chain.cert.txt)

[intermediate.cert.txt](https://github.com/erlang/otp/files/12312542/intermediate.cert.txt)
DN = "C=GB/O=MYORG/OU=INTERMEDIATE/CN=INTERMEDIATE"
NameConstraints = DirName:C = gb, O = myorg, OU = myou

I have added `127.0.0.1 server1.com` to my `/etc/hosts` .

---
Encodings

Running `openssl asn1parse -in peer1.cert.pem -i` gives

```
  141:d=2  hl=2 l=  64 cons:   SEQUENCE
  143:d=3  hl=2 l=  11 cons:    SET
  145:d=4  hl=2 l=   9 cons:     SEQUENCE
  147:d=5  hl=2 l=   3 prim:      OBJECT            :countryName
  152:d=5  hl=2 l=   2 prim:      PRINTABLESTRING   :GB
  156:d=3  hl=2 l=  14 cons:    SET
  158:d=4  hl=2 l=  12 cons:     SEQUENCE
  160:d=5  hl=2 l=   3 prim:      OBJECT            :organizationName
  165:d=5  hl=2 l=   5 prim:      UTF8STRING        :MYORG
  172:d=3  hl=2 l=  13 cons:    SET
  174:d=4  hl=2 l=  11 cons:     SEQUENCE
  176:d=5  hl=2 l=   3 prim:      OBJECT            :organizationalUnitName
  181:d=5  hl=2 l=   4 prim:      UTF8STRING        :MYOU
  187:d=3  hl=2 l=  18 cons:    SET
  189:d=4  hl=2 l=  16 cons:     SEQUENCE
  191:d=5  hl=2 l=   3 prim:      OBJECT            :commonName
  196:d=5  hl=2 l=   9 prim:      UTF8STRING        :peer1.com
```
The countryName is a PRINTABLESTRING but all other relative distinguished names are UTF8STRING.  It is the same for peer2.cert.pem

Running `openssl asn1parse -in intermediate/certs/intermediate.cert.pem -i -strparse 865` where 865 is the offest of the NameConstraints gives

```
    0:d=0  hl=2 l=  52 cons: SEQUENCE
    2:d=1  hl=2 l=  50 cons:  cont [ 0 ]
    4:d=2  hl=2 l=  48 cons:   SEQUENCE
    6:d=3  hl=2 l=  46 cons:    cont [ 4 ]
    8:d=4  hl=2 l=  44 cons:     SEQUENCE
   10:d=5  hl=2 l=  11 cons:      SET
   12:d=6  hl=2 l=   9 cons:       SEQUENCE
   14:d=7  hl=2 l=   3 prim:        OBJECT            :countryName
   19:d=7  hl=2 l=   2 prim:        PRINTABLESTRING   :gb
   23:d=5  hl=2 l=  14 cons:      SET
   25:d=6  hl=2 l=  12 cons:       SEQUENCE
   27:d=7  hl=2 l=   3 prim:        OBJECT            :organizationName
   32:d=7  hl=2 l=   5 prim:        UTF8STRING        :myorg
   39:d=5  hl=2 l=  13 cons:      SET
   41:d=6  hl=2 l=  11 cons:       SEQUENCE
   43:d=7  hl=2 l=   3 prim:        OBJECT            :organizationalUnitName
   48:d=7  hl=2 l=   4 prim:        UTF8STRING        :myou
```
This is the same as the peer certificates with the countryName being a PRINTABLESTRING and the other components being UTF8STRING.

---
Testing

I am using this erlang program as an https server requiring peer validation.
```erl
-module(mtls_server).

-export([start/0]).

start() ->
    ssl:start(),
    {ok, ListenSocket} = gen_tcp:listen(8446, [{reuseaddr, true}, {active, false}]),
    loop(ListenSocket).

loop(ListenSocket) ->
    {ok, Socket} = gen_tcp:accept(ListenSocket),
    {ok, TLSSocket} = ssl:handshake(Socket, [
        {certfile, "server1.cert.txt"},
        {keyfile, "server1.key.txt"},
        {cacertfile, "ca-chain.cert.txt"},
        {verify, verify_peer},
        {crl_check, false},
        {fail_if_no_peer_cert, true},
        {log_level, info},
        {verify_fun,
            {
                fun
                    (_, {bad_cert, Reason} = FullReason, UserState) ->
                        io:format("Certificate verification failed due to: ~p ~p ~n", [
                            Reason, FullReason
                        ]),
                        {fail, UserState};
                    (_, {extension, _}, UserState) ->
                        {unknown, UserState};
                    (_, valid, UserState) ->
                        {valid, UserState};
                    (_, valid_peer, UserState) ->
                        {valid, UserState}
                end,
                []
            }}
    ]),
    ssl:close(TLSSocket),
    loop(ListenSocket).
```

And testing the connection with the command `openssl s_client -connect server1.com:8446 -cert peer1.cert.txt -key peer1.key.txt -CAfile ca-chain.cert.txt -state` or `openssl s_client -connect server1.com:8446 -cert peer2.cert.txt -key peer2.key.txt -CAfile ca-chain.cert.txt -state`.

peer1 gives the `{bad_cert, name_not_permitted}` error, peer2 the connection is successful.

Interestingly even though the country codes are both PRINTABLESTRING, I never hit this line https://github.com/erlang/otp/blob/87d24fee5b75653899e83c0c3333b4f83c22afd7/lib/public_key/src/pubkey_cert.erl#L722 in this debugger when I have a break point set on it.

Well the problem seem to be that your certificate does not encode countryname as "printableString" which it should  be according to the ASN-1 specification. It does not either encode it as a utf8String, which I believe would have passed due to a workaround that we have. 

From tracing I get this (I need to check with someone more knowledgably in ASN.1 what will result in this, but it is not according to the spec) 

```
pubkey_cert:is_dir_name([[{'AttributeTypeAndValue',{2,5,4,6},"GB"}],
 [{'AttributeTypeAndValue',{2,5,4,10},{utf8String,<<"MYORG">>}}],
 [{'AttributeTypeAndValue',{2,5,4,11},{utf8String,<<"MYOU">>}}],
 [{'AttributeTypeAndValue',{2,5,4,3},{utf8String,<<"peer1.com">>}}]],[[{'AttributeTypeAndValue',{2,5,4,6},"gb"}],
 [{'AttributeTypeAndValue',{2,5,4,10},{utf8String,<<"myorg">>}}],
 [{'AttributeTypeAndValue',{2,5,4,11},{utf8String,<<"myou">>}}]],false)
```
This could easily be worked around by the following patch (maint based mind you).  So I guess now we are looking for
if there is good enough reason to do so!
 
```
a/lib/public_key/src/pubkey_cert.erl
+++ b/lib/public_key/src/pubkey_cert.erl
@@ -1626,8 +1626,14 @@ is_dir_name2({utf8String, Value1}, String) ->
     is_dir_name2({printableString, unicode:characters_to_list(Value1)}, String);
 is_dir_name2(String, {utf8String, Value1}) ->
     is_dir_name2(String, {printableString, unicode:characters_to_list(Value1)});
-is_dir_name2(_, _) ->
-    false.
+is_dir_name2(Value1, Value2) ->
+    Comp1 = string:to_lower(strip_spaces(Value1)),
+    case string:to_lower(strip_spaces(Value2)) of
+        Comp1 ->
+            true;
+        _ ->
+            false
+    end.

```

Thank you for providing a fix.

I used `OpenSSL 3.0.2 15 Mar 2022 (Library: OpenSSL 3.0.2 15 Mar 2022)` to generate the certificates. I am confused about why Erlang is not showing countryName as a "printableString" as the output of `openssl asn1parse -in peer1.cert.txt -i` shows it as one. Is there another issue there?

Either way, I am hoping as the patch is small and it helps with conformity to the RFC that counts as a good enough reason to do it!
 



Hum .. I think that it is actually the workaround for some certificates using utf8string instead of printablestring that causes this, situation. That is it is a printablestring but it undergoes some additional transformation, and which in turn justifies the patch :) However OTP-23 is no longer supported. I can piggyback the change so that it sooner or later will be included in OTP-24 and OTP-25 and of course it will be merged to maint for OTP-26.1 as soon it ready for merge!

Great. I understand around OTP-23, this being included in OTP-25 would be very helpful. I am happy to raise the PR but also don't want to take credit for your work if you are planning to do it!

Thanks, but I will include a test case too and the code part is already finished. 

Thanks for getting that fixed so quickly! 