ERL-733: HTTPC erroneously sends content-length:0 on chunked encoded requests


Original reporter: `ferd`
Affected version: `OTP-21.0`
Fixed in version: `OTP-21.2`
Component: `inets`
Migrated from: https://bugs.erlang.org/browse/ERL-733

---

```
Set up the following network capture filter:

{code:bash}
 # ngrep -WbyLine -q -d <interface> content-length port 80
{code}

Take the following query:

{code:erlang}
httpc:request(put, {"http://example.org", [], "application/tar+gzip", {chunkify, fun(_) -> {ok,<<1>>,nostate} end, nostate}}, [], []).
{code}

You will see the following output:

{noformat}
interface: em1 (192.168.1.0/255.255.255.0)
filter: (ip or ip6) and ( port 80 )
match: content-length

T 192.168.1.11:55956 -> 93.184.216.34:80 [AP]
PUT / HTTP/1.1.
content-type: application/tar+gzip.
content-length: 0.
te: .
host: example.org.
transfer-encoding: chunked.
connection: keep-alive.
.
{noformat}

The transfer-encoding set to chunked and a content-length are both present, which isn't really making sense. From https://tools.ietf.org/html/rfc7230#section-3.3.2 :

{noformat}
   When a message does not have a Transfer-Encoding header field, a
   Content-Length header field can provide the anticipated size, as a
   decimal number of octets, for a potential payload body.  For messages
   that do include a payload body, the Content-Length field-value
   provides the framing information necessary for determining where the
   body (and message) ends.  For messages that do not include a payload
   body, the Content-Length indicates the size of the selected
   representation (Section 3 of [RFC7231]).

   ...

   A sender MUST NOT send a Content-Length header field in any message
   that contains a Transfer-Encoding header field.
{noformat}

Which is obviously not the case here.

A curious thing is that the http_internal_h record defines a 0-length content length by default: https://github.com/erlang/otp/blob/146bcbf1f4f9cefb73223a654ca5e992ebe43aa8/lib/inets/src/http_lib/http_internal.hrl#L112 

This value is however not unset at https://github.com/erlang/otp/blob/146bcbf1f4f9cefb73223a654ca5e992ebe43aa8/lib/inets/src/http_client/httpc_request.erl#L219-L224 which causes the problem here.

The final serialization is at https://github.com/erlang/otp/blob/146bcbf1f4f9cefb73223a654ca5e992ebe43aa8/lib/inets/src/http_lib/http_request.erl#L65-L73 which uses `undefined` as  an atom to omit headers.

I figure that a fix could therefore just set the value to `undefined` instead of `"0"` for the content-lenght when a transfer-encoding is specified, which would fix the bug.
```
