Support clients without authentication in `ssh` server to allow for some niche use-cases.

**Is your feature request related to a problem? Please describe.**

I've had a few different use cases that would benefit from this:

I've written a number of internal applications that need an easy way to either ingest or emit a large amount of data.  Think dedicated links in industrial builds that just need to push a few GB one direction or the other.

I have an application that needs to expose an `sftp` server without authentication for bootstrapping system-wide metadata.  After bootstrapping, I intended to enable authentication and use the same method to distribute the same metadata.

I have also, in the past, wanted to just expose information to operators in an embedded system.

Finally, this is very useful for testing.  Setting up a bunch of throwaway keys for a test run has proven to be a lot of work for very little value.

**Describe the solution you'd like**

I'd like to be able to build a server on Erlang using the `ssh` module that can respond with success to the initial `none` authentication request.  This is congruent with [RFC4252§5.2](https://datatracker.ietf.org/doc/html/rfc4252#section-5.2).  Specifically when "no authentication is needed for the user", the server "MUST return a successful response".

**Describe alternatives you've considered**

For the "lightweight data ingest / export" use case, the only other "easy" option I tried was `https`.  It's actually kind of a pain due to juggling self-signed certs and timeouts.  While there's still a need to accept the host key, this is a much easier problem with pretty well-contained implications compared to running `https` everywhere with self-signed certs.  And there's a lot of extra complexity that's just not very useful to deal with (i.e. caching, pipelining / connection reuse by libraries, encoding attacks, etc.).

For the "bootstrapping metadata distribution" use case, I've considered:
- `tftp` (too low-level, doesn't network well)
- an anonymous `http` server (wouldn't want to use this after bootstrapping)
- baking initial certs into our golden images (difficult to maintain over time)
- human provisioning steps (please no)

For the "embedded ops info" use case I had considered a web interface or a proprietary client.  `ssh` as a client hits a sweet spot as the easiest way to manage distributing a client (e.g. don't, use something everyone already has).  A web interface is possible, but is just a lot more work for what I needed.

In these embedded use cases, it was often not convenient to carry around the weight of a web browser or even just the cruft needed for trusting PKI certs and the like.  While I probably could've use just used unencrypted `http`, I had a concern that someone might eventually ask for a more secure alternative.  In that case, adding key handling with SSH would've been much more rewarding than rolling a bunch of PKI stuff with HTTPS.  (Notably, client certs for authentication are a mess across the range of clients I was trying to use.)

For the testing use cases, I've tried generating dummy certs and including them in the repository.  That, unfortunately, sets off all manner of alarm bells with security tools that make sure you don't check in keys.  I've tried putting them in environmental vars in my CICD.  That works but it's a lot of wiring.  I've also tried generating them dynamically each time, but that was just painfully slow.

**Additional context**

In terms of standards, this is kind of a weird one (to me).  The RFC is very clear that there are hard requirements to support a successful return value, but is so vague about defining when that should happen that it's not clear whether support is mandatory.  So it being missing is not really a bug, but it's very clear that the RFC anticipated this as an expected use case.

Given that this is a "general purpose" library for making `ssh` servers, I would generally hope for it to be supported.  I could imagine that some would consider it like insecure ciphers: "There's no secure use for this so it shouldn't ever be used."  While that's not patently unreasonable, I would expect that anyone that flips a switch like "no client authentication" knows what they're doing.  In particular, the above testing and provisioning use cases are times where it can be very high-value and are widely appreciated use cases.

In terms of "What is everyone else doing?", more than a few other SSH server implementations either implement it explicitly or provide pluggable auth support that makes it possible:
* Go supports a server config option `NoClientAuth` [here}(https://pkg.go.dev/golang.org/x/crypto/ssh#ServerConfig.NoClientAuth).
* Python's Paramiko supports overriding the `none` authentication check [here](https://docs.paramiko.org/en/stable/api/server.html#paramiko.server.ServerInterface.check_auth_none)
* LSH supports it with a configuration option [here](http://www.lysator.liu.se/~nisse/lsh/lsh.html#Invoking%20lshd).
* Ganymede SSH 2 for Java supports explicitly overriding handling of "none" authentication like [this](https://github.com/SoftwareAG/ganymed-ssh-2/blob/master/examples/BasicServer.java#L176-L179).

I'm sure there are others, but those were just the first ones I found on Google.

I'd be happy to code this up, though I'd want some guidance on whether you'd want a "allow connection without auth" config option (like Go above) or if you'd accept general-purpose pluggable authentication.  In general, it's all so well contained in `ssh_auth.erl`, that it would be pretty easy to just allow the user to provide their own callback module.  (Though there is some extra handling in the server authentication FSM that might require some tweaking.)

Hi @jvantuyl ,
you seem to have a good use case for skipping the authentication.  I have two questions only:

1. I'm thinking of an option to the sftp server when starting it.  I interpreted your case like that is what you need. Am I right?
2. Are you running OTP 25 or some older version?


Ping @jvantuyl :)   Still interested in this?  Otherwise I'll drop the PR #6066 

@HansN That PR looks great. :+1: 