TLS 1.3 session resumption, comparison of client ticket age in milliseconds and ticket lifetime in seconds

**Describe the bug**
In TLS 1.3, when using stateless session tickets, the session ticket contains a random `ticket_age_add` value and a `ticket_lifetime` (in seconds), see [RFC 8446 Section 4.6.1](https://datatracker.ietf.org/doc/html/rfc8446#section-4.6.1). The client uses the `ticket_age_add` to add to the client-side ticket age, to obscure the age of the ticket, and the client includes this in the `obfuscated_ticket_age` in the `pre_shared_key` extension in the `ClientHello`, when attempting a session resumption.

The `obfuscated_ticket_age` is obtained by taking the client-side ticket age **in milliseconds**  and adding the `ticket_age_add`. From [RFC 8446 Section 4.2.11.1](https://datatracker.ietf.org/doc/html/rfc8446#section-4.2.11.1):

> The "obfuscated_ticket_age" field of each PskIdentity contains an obfuscated version of the ticket age formed by taking the age in milliseconds and adding the "ticket_age_add" value that was included with the ticket (see [Section 4.6.1](https://datatracker.ietf.org/doc/html/rfc8446#section-4.6.1)), modulo 2^32. (..) Note that the "ticket_lifetime" field in the NewSessionTicket message is in seconds but the "obfuscated_ticket_age" is in milliseconds.

The problem is that the OTP `ssl` implementation compares the (de-)obfuscated ticket age **in milliseconds** with the ticket lifetime **in seconds**. In `tls_server_session_ticket.erl`:
```erlang
stateless_living_ticket(0, _, _, _, _) ->
    true;
stateless_living_ticket(ObfAge, TicketAgeAdd, Lifetime, Timestamp, Window) ->
    ReportedAge = ObfAge - TicketAgeAdd,
    RealAge = erlang:system_time(second) - Timestamp,
    (ReportedAge =< Lifetime)
        andalso (RealAge =< Lifetime)
        andalso (in_window(RealAge, Window)).
```
With the default session ticket lifetime of 7200 seconds (2 hours), the actual ticket lifetime becomes 7.2 seconds.

**To Reproduce**

Generate some test certificates:
```bash
openssl req -x509 -newkey rsa:4096 \
    -keyout rootCA.key -out rootCA.pem \
    -sha256 -days 365 -nodes \
    -subj '/CN=Test root CA'

openssl genrsa -out server.key 2048
openssl req -new -key server.key -out server.csr \
    -subj "/CN=Test server"

openssl x509 -req -in server.csr \
    -CA rootCA.pem -CAkey rootCA.key \
    -CAcreateserial -out server.pem -days 1000 -sha256
```

`server.erl`:
```erlang
-module(server).

-export([run/0,
         start_trace/0,
         stop_trace/0]).

run() ->
    application:ensure_all_started(ssl),
    LOpts = [{cacertfile, "rootCA.pem"},
             {certfile, "server.pem"},
             {keyfile, "server.key"},
             {versions, ['tlsv1.3']},
             {session_tickets, stateless}],
    {ok, LSock} = ssl:listen(8001, LOpts),
    handle(LSock).

handle(LSock) ->
    {ok, CSock} = ssl:transport_accept(LSock),
    {ok, Sock} = ssl:handshake(CSock),
    {ok, Opts} = ssl:connection_information(Sock, [session_resumption]),
    io:format('Connected with session resumption ~p~n', [Opts]),
    handle(LSock).

start_trace() ->
    dbg:tracer(),
    dbg:p(all, [c]),
    dbg:tpl({tls_server_session_ticket, stateless_living_ticket, '_'}, [{'_',[],[{return_trace}]}]).

stop_trace() ->
    dbg:stop_clear().
```

Start tracing and run the server:
```
1> c(server).
{ok,server}
2> server:start_trace().
{ok,[{matched,nonode@nohost,1},{saved,1}]}
3> server:run().
```

Connect with OpenSSL `s_client`, waiting 10 seconds before trying to reconnect and resuming the session:
```bash
sleep 3s | openssl s_client -tls1_3 -connect localhost:8001 -sess_out sess1.pem -debug
sleep 10s
sleep 3s | openssl s_client -tls1_3 -connect localhost:8001 -sess_in sess1.pem -debug
```

The server shows that the connection failed to use session resumption:
```
Connected with session resumption [{session_resumption,false}]
(<0.123.0>) call tls_server_session_ticket:stateless_living_ticket(1066054369,1066042369,7200,1651161160,undefined)
(<0.123.0>) returned from tls_server_session_ticket:stateless_living_ticket/5 -> false
Connected with session resumption [{session_resumption,false}]
```

If we change to only sleep 2 seconds between the connections, resumption works:
```
Connected with session resumption [{session_resumption,false}]
(<0.123.0>) call tls_server_session_ticket:stateless_living_ticket(394807085,394803085,7200,1651161373,undefined)
(<0.123.0>) returned from tls_server_session_ticket:stateless_living_ticket/5 -> true
Connected with session resumption [{session_resumption,true}]
```

**Expected behavior**
It is expected that the OpenSSL `s_client` can resume the session after 10 seconds, when the default session ticket lifetime is 2 hours. I.e., we should get `{ok, [{session_resumption, true}]} = ssl:connection_information(Sock, [session_resumption])` and the internal `tls_server_session_ticket:stateless_living_ticket/5` should return `true`.

**Affected versions**
Tested on OTP 24.1.3 and OTP 24.3.2. Both versions are affected by this issue.

**Additional context**
I would be happy to submit a PR for this.


Thank you for the good report, you are most welcome to solve this in a PR.