[DNS] Old reference for EDNS

In `lib/kernel/src/inet_dns.hrl`, the references to the EDNS standard could be updated: RFC 6891 replaced 2671 nine years ago.

I have now read the "new" RFC, and to claim that we support EDNS according to RFC6891, it seems we would need to add support for the D0 bit concerning DNSSEC according to RFC3225.  So the code would need an update too.  I did not find any other significant differences from RFC2671.

Since this would introduce a record change (undocumented record, but nevertheless), which would be backwards incompatible with respect to  .beam code (require recompilation of code that use the record definition), it might be good to do it in a major release.